<div class="navbar-fixed">
<nav class="orange darken-3" style="box-shadow:none">    
    <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse" ><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo noto" style="font-weight:200">Campus</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="noto300" href="//accounts.tenoz.asia/Signin">登入</a></li>
                <li><a class="noto300" href="//accounts.tenoz.asia/Signup">註冊</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>