body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #212121 ;
    background-image: url("/Resource/image/Background2.jpg"); 
}